/************************************************/
/* Tailwindcss */
/************************************************/
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/************************************************/
/* FontFace */
/************************************************/
/* Persian */
@font-face {
    font-family: 'IRAN Sans';
    src: url('../assets/fonts/Iransans/IRANSansWeb(FaNum).eot?-fvbane');
    src: url('../assets/fonts/Iransans/IRANSansWeb(FaNum).eot?#iefix-fvbane') format('embedded-opentype'),
    url('../assets/fonts/Iransans/IRANSansWeb(FaNum).woff?-fvbane') format('woff'),
    url('../assets/fonts/Iransans/IRANSansWeb(FaNum).woff2?-fvbane') format('woff2'),
    url('../assets/fonts/Iransans/IRANSansWeb(FaNum).ttf?-fvbane') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/************************************************/
/* Root, themes */
/************************************************/
:root {
    --font-family: "IRAN Sans" !important;
}

/************************************************/
/* All, body, html */
/************************************************/
* {
    font-family: var(--font-family);
    font-size: 15px;
    user-select: none;
    -moz-user-select: none;
}

html, body, #root {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: white;
}

::selection {
    @apply !bg-blue-500;
}



.page {
    @apply w-full;
    @apply min-h-screen;
    @apply bg-white;
}

.dark .page {
    @apply w-full;
    @apply min-h-screen;
    @apply bg-neutral-800;
}
